<h1>Profile</h1>
<p>Username: <%= @username %></p>

<h2>Your Habits</h2>
<ul>
  <% @habits.each do |habit| %>
    <li><%= habit %></li>
  <% end %>
</ul>

<%= link_to "Add New Habit", new_habit_path %>
